html, body {
	margin: 0;
	height: 100%;
	font-size: 14px;
}
body {
	background-color: #eee;
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
	overflow: hidden;
}

code, pre, .ace_editor, table td.code {
	font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
}

@media (max-width: 768px) {
	#resultsTabs .ui.ribbon.label:after {
		display: none;
	}

	.hide.on.mobile { display: none; }
}

@media (min-width: 769px) {
	#resultsArea {
		padding: 0 !important;
	}

	.show.on.mobile { display: none; }
}

.fill-parent {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
}

.fill.parent,
.fill.left.half, .fill.right.half,
.fill.left.third, .fill.right.third,
.fill.left.two.thirds, .fill.right.two.thirds {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: auto;
	height: auto;
	-webkit-transition: left 0.5s, right 0.5s;
	transition: left 0.5s, right 0.5s;
}

#topPane {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-align-content: flex-start;
	-ms-flex-line-pack: start;
	align-content: flex-start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	z-index: 9;
}

#editorArea {
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	-webkit-align-self: stretch;
	-ms-flex-item-align: stretch;
	align-self: stretch;
	position: relative;
	margin: 0;
	overflow: hidden;
}

#mainMenu, #copyright {
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-align-self: stretch;
	-ms-flex-item-align: stretch;
	align-self: stretch;
}
#mainMenu {
	border-top: 2px solid #bbbbbb;
}

#copyright {
	line-height: 1rem;
	font-size: x-small;
	background: #bbbbbb;
	color: #888888;
	text-align: right;
	padding-right: 0.5em;
	margin-top: 2px;
	margin-bottom: -0.5rem;
}

.split-panes.horizontal > * + .split-handler {
	height: 1rem;
	margin-top: -0.5rem;
	z-index: 10;
}
.split-panes.horizontal > * + .split-handler:hover {
	background: rgba(0, 0, 0, 0.2);
}
.split-panes.horizontal > * + .split-handler::before {
	font-size: 1.22em;
	position: absolute;
	line-height: 1em;
	left: 50%;
	margin-left: -1em;
	top: 50%;
	margin-top: -0.51em;
	width: 2em;
	text-align: center;
	content: '\294C';
	color: #EEEEEE;
}
.split-panes.horizontal > * + .split-handler:hover::before {
	color: #FFFFFF;
}

.split-panes.vertical > :not(.split-handler):not(:last-child) {
	padding-right: 0.5rem;
}
.split-panes.vertical > :not(.split-handler):not(:first-child) {
	padding-left: 0.5rem;
}
.split-panes.vertical > * + .split-handler {
	width: 1rem;
	margin-left: -0.5rem;
	z-index: 10;
}
.split-panes.vertical > * + .split-handler:hover {
	background: rgba(0, 0, 0, 0.2);
}
.split-panes.vertical > * + .split-handler::before {
	font-size: 1.22em;
	position: absolute;
	line-height: 1em;
	left: 50%;
	margin-left: -1em;
	top: 50%;
	margin-top: -0.51em;
	width: 2em;
	text-align: center;
	content: '\294A';
	color: #EEEEEE;
}
.split-panes.vertical > * + .split-handler:hover::before {
	color: #FFFFFF;
}

#bottomPane {
	position: absolute;
	bottom: 0;
	left: 0; right: 0;
	margin-top: 0.5rem;
}

#editor {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	width: auto;
	height: auto;
	margin-bottom: 0;
	border-top: none;
	border-radius: 0;
	-webkit-transition: left 0.5s, right 0.5s;
	transition: left 0.5s, right 0.5s;
}
#editor > .ace_editor {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0.5rem;
	width: auto;
	height: auto;
}

.split-panes.vertical > #editor + .split-handler {
	background: #bbbbbb;
	border-left: 1px solid #eee;
	border-right: 1px solid #aaa;
}

/***********************************
 ** Ace editor gutter decorations **/

.ace_editor .ace_gutter-layer .ace_gutter-cell.error {
	position: relative;
}

.ace_editor .ace_gutter-layer .ace_gutter-cell.error:before {
	position: absolute;
	left: 0.2em;
	top: 0.2em;
	width: 1.23em;
	color: #f00;
	content: "\f057";
	background: none !important;
	font-size: 1em;
	font-family: Icons;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	text-align: left;
	speak: none;
	font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
/***********************************/

/*****************************
 ** Ace editor marker types **/
.ace_editor.ace-idle-fingers .ace_marker-layer .ace_active-line {
	background: rgba(128, 128, 128, 0.25);
}

.ace_editor .ace_marker-layer .last-executed {
	position: absolute;
	background: rgba(0, 181, 173, 0.2);
}
.ace_editor .ace_marker-layer .last-executed.explain {
	background: rgba(224, 123, 83, 0.2);
}

.ace_editor .ace_marker-layer .error {
	position: absolute;

	/* Won't work until the CSS Text Decoration Level 3 module is implemented in more browsers! */
	/*text-decoration: underline wavy red*/

	/* Workaround: */
	background: url('../underline-wavy-red.png') bottom repeat-x;
}
/*****************************/

#querySidebar {
	position: absolute;
	top: 0;
	bottom: 0;
	height: auto;
	margin-top: 0;
	margin-left: -1px;
	border-radius: 5px 0 0 5px;
	z-index: 8;
}

#querySidebar.active {
	right: 0;
}

#querySidebar .launch.button.wrapper {
	position: absolute;
	top: 0.75em;
	left: 0;
}

#querySidebar .launch.button.wrapper .launch.icon.ui.button {
	position: relative;
	top: 0;
	right: 0;
	margin-left: -100%;
	border-radius: 0.25em 0em 0em 0.25em;
	z-index: 801;
	-webkit-transition: margin-left 0.5s;
	transition: margin-left 0.5s;
}

#querySidebar.active .launch.button.wrapper .launch.icon.ui.button {
	right: auto;
	margin-left: -0.5em;
	border-radius: 0em 0.25em 0.25em 0em;
}

#querySidebar.active .launch.button.wrapper .launch.icon.ui.button:after {
	position: absolute;
	content: "";
	top: 100%;
	left: 0%;
	border-top: 0em solid transparent;
	border-right: 0.5em solid #444444;
	border-bottom: 0.5em solid transparent;
	border-left: 0em solid transparent;
	width: 0em;
	height: 0em;
}

@media (min-width: 320px) {
	#querySidebar {
		right: -320px;
		width: 320px;
	}
}

@media (min-width: 769px) {
	#querySidebar {
		border-radius: 0;
	}
}

@media (min-width: 993px) {
	#editor {
		right: 320px;
	}

	#querySidebar,
	#querySidebar.active {
		right: 0;
		width: auto;
		border-radius: 0;
	}

	#querySidebar .launch.button.wrapper .launch.icon.ui.button { display: none; }

	.fill.left.half { right: 50%; }
	.fill.right.half { left: 50%; }

	.fill.left.third { right: 67%; }
	.fill.right.third { left: 67%; }

	.fill.left.two.thirds { right: 33%; }
	.fill.right.two.thirds { left: 33%; }
}

.query-plan.info.ui.popup {
	max-width: 90%;
	max-height: 65%;
	padding: 0;
}

.query-plan.ui.popup > .header, .query-plan.ui.popup > .content {
	padding: 0.5em;
}

.query-plan.ui.popup table {
	max-width: 100%;
	position: relative;
	z-index: 10;
}

.query-plan.ui.popup table th {
	white-space: nowrap;
}

.clickable { cursor: pointer; }

.hoverable { cursor: help; }
.hoverable:hover { fill: #00827c; }

table td.hoverable.ui.dropdown {
	cursor: default;
	box-shadow: 2px 0px 0px rgba(0, 181, 173, 0.9) inset;
}

table tbody tr td.clickable {
	box-shadow: 2px 0px 0px rgba(127, 181, 0, 0.9) inset;
}
table tbody tr td.clickable:hover {
	background: rgba(127, 181, 0, 0.2);
}
table tbody tr td.clickable.visible {
	background: rgba(0, 0, 0, 0.1);
	box-shadow: 2px 0px 0px rgba(0, 0, 0, 0.3) inset;
}

table td.ui.dropdown {
	line-height: normal;
	display: table-cell;
}
table td.hoverable.ui.dropdown > .menu {
	box-sizing: border-box;
	padding: 0.3em 1em 1em 0.2em;
	border-radius: 0;
	border-left: 2px solid rgba(50, 50, 50, 0.9);
	max-width: 100%;
	max-height: 1000%;
	overflow: hidden;
}
table td.hoverable.ui.dropdown > .ui.menu::after {
	content: none;
}

table td.hoverable.ui.dropdown > .ui.menu > .ace_editor {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
}
table td.hoverable.ui.dropdown > .ui.menu > .pretty.print {
	font-size: 8px;
}

table td.hoverable,
table td.clickable {
	position: relative;
	padding-right: 1.5em;
}

table td.hoverable > i.icon,
table td.hoverable > .text > i.icon,
table td.clickable > i.icon,
table td.clickable > .text > i.icon {
	position: absolute;
	right: 0;
	vertical-align: middle;
	top: 4px;
}

.code.ui.popup {
	max-width: 98%;
	max-height: 98%;
	padding: 0;
}
.code.ui.popup > .wrapper {
	position: relative;
	overflow: hidden;
}
.code.ui.popup > .wrapper > pre.hljs {
	background: none;
	overflow: hidden;
	margin: 0;
	display: inline-block;
}

.code.ui.popup > .wrapper.pretty-printable {
	padding-left: 2em;
	padding-right: 0.2em;
}
.code.ui.popup > .wrapper.ps-active-x {
	padding-bottom: 0.4em;
}
.code.ui.popup > .wrapper.ps-active-y {
	padding-right: 0.4em;
}
.code.ui.popup > .wrapper.pretty-printable > pre.hljs {
	z-index: 11;
	padding-left: 0.3em;
}
.code.ui.popup > .wrapper > .ps-scrollbar-x-rail,
.code.ui.popup > .wrapper > .ps-scrollbar-y-rail {
	z-index: 12;
}
.code.ui.popup:before {
	z-index: auto;
}

.ui.popup > .left.corner.ui.label:after {
	-webkit-clip-path: inset(-0.1px -5px -5px -0.1px round 2.5px);
	clip-path: inset(-0.1px -5px -5px -0.1px round 2.5px);
}
.ui.popup > .right.corner.ui.label:after {
	-webkit-clip-path: inset(-0.1px -0.1px -5px -5px round 2.5px);
	clip-path: inset(-0.1px -0.1px -5px -5px round 2.5px);
}

.null.ui.label {
	color: #FFF;
	background-color: #DDD;
	padding-top: 0;
	padding-bottom: 0;
}

.ps-container > .ps-scrollbar-x-rail,
.ps-container > .ps-scrollbar-y-rail {
	visibility: hidden;
}

.ps-container.ps-active-x > .ps-scrollbar-x-rail,
.ps-container.ps-active-y > .ps-scrollbar-y-rail {
	visibility: visible;
}

/* Reset opacity, since we're using the background color's alpha channel instead. */
.ps-container.ps-active-x > .ps-scrollbar-x-rail,
.ps-container.ps-active-y > .ps-scrollbar-y-rail,
.ps-container.ps-active-x:hover > .ps-scrollbar-x-rail,
.ps-container.ps-active-y:hover > .ps-scrollbar-y-rail,
.ps-container.ps-active-x.hover > .ps-scrollbar-x-rail,
.ps-container.ps-active-y.hover > .ps-scrollbar-y-rail,
.ps-container.ps-active-x:hover > .ps-scrollbar-x-rail.in-scrolling,
.ps-container.ps-active-y:hover > .ps-scrollbar-y-rail.in-scrolling {
	opacity: 1;
}

.ps-container > .ps-scrollbar-x-rail,
.ps-container > .ps-scrollbar-y-rail {
	background-color: rgba(0, 0, 0, 0);
}
.ps-container:hover > .ps-scrollbar-x-rail,
.ps-container:hover > .ps-scrollbar-y-rail,
.ps-container.hover > .ps-scrollbar-x-rail,
.ps-container.hover > .ps-scrollbar-y-rail {
	background-color: rgba(0, 0, 0, 0.2);
}
.ps-container:hover > .ps-scrollbar-x-rail:hover,
.ps-container:hover > .ps-scrollbar-y-rail:hover,
.ps-container > .ps-scrollbar-x-rail.in-scrolling,
.ps-container > .ps-scrollbar-y-rail.in-scrolling,
.ps-container:hover > .ps-scrollbar-x-rail.in-scrolling,
.ps-container:hover > .ps-scrollbar-y-rail.in-scrolling {
	background-color: rgba(0, 0, 0, 0.4);
}

.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x,
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
	background-color: rgba(0, 0, 0, 0);
}
.ps-container:hover > .ps-scrollbar-x-rail > .ps-scrollbar-x,
.ps-container:hover > .ps-scrollbar-y-rail > .ps-scrollbar-y,
.ps-container.hover > .ps-scrollbar-x-rail > .ps-scrollbar-x,
.ps-container.hover > .ps-scrollbar-y-rail > .ps-scrollbar-y {
	background-color: rgba(0, 0, 0, 0.2);
}
.ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x,
.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
	background-color: rgba(0, 0, 0, 0.4);
}
.ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x:hover,
.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y:hover,
.ps-container > .ps-scrollbar-x-rail.in-scrolling > .ps-scrollbar-x,
.ps-container > .ps-scrollbar-y-rail.in-scrolling > .ps-scrollbar-y {
	background-color: rgba(0, 0, 0, 0.8);
}

.ps-container.inverted > .ps-scrollbar-x-rail,
.inverted .ps-container > .ps-scrollbar-x-rail,
.ps-container.inverted > .ps-scrollbar-y-rail,
.inverted .ps-container > .ps-scrollbar-y-rail {
	background-color: rgba(255, 255, 255, 0);
}
.ps-container.inverted:hover > .ps-scrollbar-x-rail,
.inverted .ps-container:hover > .ps-scrollbar-x-rail,
.ps-container.inverted:hover > .ps-scrollbar-y-rail,
.inverted .ps-container:hover > .ps-scrollbar-y-rail,
.ps-container.inverted.hover > .ps-scrollbar-x-rail,
.inverted .ps-container.hover > .ps-scrollbar-x-rail,
.ps-container.inverted.hover > .ps-scrollbar-y-rail,
.inverted .ps-container.hover > .ps-scrollbar-y-rail {
	background-color: rgba(255, 255, 255, 0.2);
}
.ps-container.inverted:hover > .ps-scrollbar-x-rail:hover,
.inverted .ps-container:hover > .ps-scrollbar-x-rail:hover,
.ps-container.inverted:hover > .ps-scrollbar-y-rail:hover,
.inverted .ps-container:hover > .ps-scrollbar-y-rail:hover,
.ps-container.inverted > .ps-scrollbar-x-rail.in-scrolling,
.inverted .ps-container > .ps-scrollbar-x-rail.in-scrolling,
.ps-container.inverted > .ps-scrollbar-y-rail.in-scrolling,
.inverted .ps-container > .ps-scrollbar-y-rail.in-scrolling,
.ps-container.inverted:hover > .ps-scrollbar-x-rail.in-scrolling,
.inverted .ps-container:hover > .ps-scrollbar-x-rail.in-scrolling,
.ps-container.inverted:hover > .ps-scrollbar-y-rail.in-scrolling,
.inverted .ps-container:hover > .ps-scrollbar-y-rail.in-scrolling {
	background-color: rgba(255, 255, 255, 0.4);
}

.ps-container.inverted > .ps-scrollbar-x-rail > .ps-scrollbar-x,
.inverted .ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x,
.ps-container.inverted > .ps-scrollbar-y-rail > .ps-scrollbar-y,
.inverted .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
	background-color: rgba(255, 255, 255, 0);
}
.ps-container.inverted:hover > .ps-scrollbar-x-rail > .ps-scrollbar-x,
.inverted .ps-container:hover > .ps-scrollbar-x-rail > .ps-scrollbar-x,
.ps-container.inverted:hover > .ps-scrollbar-y-rail > .ps-scrollbar-y,
.inverted .ps-container:hover > .ps-scrollbar-y-rail > .ps-scrollbar-y,
.ps-container.inverted.hover > .ps-scrollbar-x-rail > .ps-scrollbar-x,
.inverted .ps-container.hover > .ps-scrollbar-x-rail > .ps-scrollbar-x,
.ps-container.inverted.hover > .ps-scrollbar-y-rail > .ps-scrollbar-y,
.inverted .ps-container.hover > .ps-scrollbar-y-rail > .ps-scrollbar-y {
	background-color: rgba(255, 255, 255, 0.2);
}
.ps-container.inverted:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x,
.inverted .ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x,
.ps-container.inverted:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y,
.inverted .ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
	background-color: rgba(255, 255, 255, 0.4);
}
.ps-container.inverted:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x:hover,
.inverted .ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x:hover,
.ps-container.inverted:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y:hover,
.inverted .ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y:hover,
.ps-container.inverted > .ps-scrollbar-x-rail.in-scrolling > .ps-scrollbar-x,
.inverted .ps-container > .ps-scrollbar-x-rail.in-scrolling > .ps-scrollbar-x,
.ps-container.inverted > .ps-scrollbar-y-rail.in-scrolling > .ps-scrollbar-y,
.inverted .ps-container > .ps-scrollbar-y-rail.in-scrolling > .ps-scrollbar-y {
	background-color: rgba(255, 255, 255, 0.8);
}

.ui.dropdown > .menu > .ps-scrollbar-x-rail,
.ui.dropdown > .menu > .ps-scrollbar-x-rail > .ps-scrollbar-x {
	height: 6px;
	bottom: 1px;
	border-radius: 3px;
}
.ui.dropdown > .menu > .ps-scrollbar-y-rail,
.ui.dropdown > .menu > .ps-scrollbar-y-rail > .ps-scrollbar-y {
	width: 6px;
	right: 1px;
	border-radius: 3px;
}

.ui.dropdown > .overlapping.menu {
	top: 0;
}

table td.code {
	white-space: pre;
}

table td > pre:only-child, table td.ui.dropdown, table td.ui.dropdown > .text {
	margin: 0;
}
table td > pre:only-child, table td.ui.dropdown > pre.text, table td.ui.dropdown > pre.menu {
	font-size: 10px;
}

.ui.dropdown > pre.menu {
	white-space: pre;
}
.ui.dropdown > .menu.ace_editor.ace_dark {
	background: #222222;
}

.dropdown.ui.label > .detail.fallback {
	color: #91E0DD;
	font-style: italic;
}
.dropdown.ui.label > .detail.fallback::before { content: "("; }
.dropdown.ui.label > .detail.fallback::after { content: ")"; }

.edgeLabelLegend {
	display: block;
	position: absolute;
	top: 100%;
	left: 0.5em;
	right: auto;
	padding-top: 0.3em;
	color: #888;
	font-size: smaller;
	font-weight: normal;
	pointer-events: none;
	white-space: nowrap;
}

.smallest.ui.table {
	font-size: 0.7em;
}

.fill-height {
	position: relative;
	height: 100%;
	margin: 0;
}

.ui.left.right.attached + .ui.left.right.attached {
	margin-top: 1rem;
}

.animated.ui.button > .visible.content > i.icon {
	margin: 0 0.5em;
}

.animated.ui.button > .visible.content > i.open.folder.outline.icon {
	margin: 0 0.4em 0 0.6em;
}

.animated.left.attached.ui.button {
	text-align: center;
}

svg {
	display: block;
    overflow: hidden;
	background: #fff;
}

svg .node rect {
    fill: #808080;
}

svg .node text {
    fill: #fff;
}

svg .node#output rect {
    stroke: none;
    stroke-width: 0;
    fill: transparent;
}

svg .edgeLabel rect {
    fill: rgba(255, 255, 255, .75);
	padding: 1px 3px;
}

svg .edgePath {
    stroke: #333;
    stroke-width: 1.5px;
    fill: none;
}

#resultsArea {
	position: absolute;
	top: 0.25em; bottom: 0;
	left: 0; right: 0;
}

#plan-diagram-dimmer.ui.dimmer > .content,
#messages-dimmer.ui.dimmer > .content {
	display: block;
}

#messages-dimmer.ui.dimmer > .content {
	position: relative;
	overflow: hidden;
	text-align: left;
}

#messages-dimmer.ui.dimmer > .content > section {
	margin: 0.5em 13px;
}

#messages-dimmer.ui.dimmer > .content > section > .ui.message > .floating.ui.label {
	top: auto;
	right: -0.25em;
	bottom: -0.25em;
	left: auto;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
	background-color: inherit;
}

#messages-dimmer.ui.dimmer > .content > section > .ui.message:not(:first-child) {
	margin-top: 0.5rem;
}
#messages-dimmer.ui.dimmer > .content > section > .ui.message:not(:last-child) {
	margin-bottom: 0.5rem;
}

#messages-dimmer.ui.dimmer > .content > section > .ui.icon.message > .icon:not(.close) {
	padding-top: 0.15em;
	vertical-align: top;
}

.ui.message ul.list li.ui.accordion::before {
	display: none;
}
.ui.message ul > li.ui.accordion > .title {
	display: block;
	margin-left: -1.5em;
	padding: 0 0 0 1.5em;
	font-size: inherit;
	color: inherit;
	background-color: rgba(0, 0, 0, 0);
}
.ui.message ul > li.ui.accordion > .title:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
.ui.message ul > li.ui.accordion > .title::before {
	display: inline-block;
	position: relative;
	left: -1.5em;
	width: 1.25em;
	height: 100%;
	margin-right: -1.25em;
	content: '\f0da';
	font-family: Accordion;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	opacity: 0.75;
	text-align: center;
	vertical-align: baseline;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: -webkit-transform 0.2s ease, opacity 0.2s ease;
	transition: transform 0.2s ease, opacity 0.2s ease;
}
.ui.message ul > li.ui.accordion > .active.title:before {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.ui.message ul > li pre {
	display: inline-block;
	margin: 0 0.5em;
	vertical-align: top;
}

.square.ui.button {
	border-radius: 0;
}

.compact.ui.label {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

#paramsSection {
	position: absolute;
	top: 1.885714292em; bottom: 0;
	left: 0.5em; right: 0;
	height: auto;
	margin: 0;
	overflow: hidden;
}

#paramsGrid {
	padding: 0;
	margin: 0 -1px;
	width: -webkit-calc(100% + 2px);
	width: calc(100% + 2px);
}

#paramsGrid > caption {
	font-weight: bold;
	font-size: 1.28rem;
	text-align: left;
}

#paramsGrid > thead > tr > th {
	background: -webkit-linear-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
	background: linear-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
	padding: 0.25rem 0.4rem 0.25rem 0;
	box-shadow: inset 0 1px 0 #555555;
}
#paramsGrid > thead > tr > th:first-child {
	border-top-left-radius: 0.2857rem;
	box-shadow: inset 1px 1px 0 #555555;
}
#paramsGrid > thead > tr > th:last-child {
	border-top-right-radius: 0.2857rem;
	box-shadow: inset -1px 1px 0 #555555;
}

#paramsGrid > tbody {
	background-color: #1b1c1d;
}

#paramsGrid > tbody > tr > td {
	padding: 0 0.4rem 0.5rem 0;
}

#paramsGrid > tbody > tr:first-child td {
	padding-top: 0.5rem;
}

#paramsGrid > thead > tr > th:first-child,
#paramsGrid > tbody > tr > td:first-child {
	padding-left: 0.4rem;
}
#paramsGrid > tbody > tr > td:first-child {
	box-shadow: inset 1px 0 0 #555555;
}
#paramsGrid > tbody > tr > td:last-child {
	box-shadow: inset -1px 0 0 #555555;
}

#paramsGrid > thead > tr > th:first-child,
#paramsGrid > tbody > tr > td {
	text-align: right;
}

td > .ui.button:last-child {
	margin: 0;
}

#paramsGrid td > .ui.input input {
	padding: 0.4em 0.339305em !important;
	font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
}
#paramsGrid td > .ui.input > .dropdown {
	text-align: right;
}

.item .ui.right.buttons,
.item .ui.right.button {
	float: right;
}

.dropdown.item .value.teal {
	color: #00B5AD;
}
.dropdown.item .value.red {
	color: #D95C5C;
}
.dropdown.item .value.yellow {
	color: #FFFF00;
}
.dropdown.item .value.placeholder {
	color: #AAAAAA;
}
.dropdown.item.disabled .value {
	color: #777777;
}

#paramsGrid .column .ui.labeled.icon.button > .icon {
	width: 1.75em;
}

#editConnectionDimmer {
	font-size: 1rem;
}

#editConnectionDimmer .ui.form.segment {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#editConnectionDimmer .ui.form .fields > .inline.field {
	margin-top: 1.5em;
}

#editConnectionDimmer .ui.form .fields > .inline.field > .ui.checkbox {
	margin-top: 0.5em;
}

#resultsTabs {
	position: absolute;
	top: 2.3rem;
	bottom: 0;
	left: 0; right: 0;
	height: auto;
	z-index: 0;
	border-bottom: none;
}

#geometry-map {
	display: block;
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	z-index: 1001;
	background: #000;
	border: solid #DCDDDE;
	border-width: 1px 1px 0;
	visibility: hidden;
	opacity: 0;
}
#geometry-map.visible {
	visibility: visible;
	opacity: 1;
}
#geometry-map > .angular-openlayers-map {
	position: absolute;
	overflow: hidden;
	top: 0; bottom: 0;
	left: 0; right: 0;
}

#layers-dropdown.ui.menu {
	left: auto;
	right: 0;
	width: 20rem; /*WTF??*/
}
#layers-dropdown.menu > .item {
	padding-right: 5em !important;
}
#layers-dropdown.menu > .item > .squarish.ui.label {
	position: absolute;
	top: 0.85em;
	right: 1em;
}
#layers-dropdown.menu > .item > .squarish.check.ui.label {
	right: 3em;
}
#layers-dropdown.ui.menu .icon {
	font-size: 1em;
}
#layers-dropdown.ui.menu > a {
	opacity: 1;
}

.color.icon,
.ui.label .color.icon {
	display: inline-block;
	width: 1.22em;
	height: 1.22em;
	border: 1px solid #000;
}

#resultsTabs > .ui.bottom.right.attached.label {
	border-bottom-right-radius: 0;
}

a.ui.label {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

#resultsTabs.attached.ui.segment {
	padding: 0;
}

#resultsContainer {
	clear: both;
	overflow: hidden;
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	padding: 0;
}

#resultsContainerScroll {
	clear: both;
	overflow: scroll;
	position: absolute;
	height: 100%;
	top: 0; bottom: 0;
	right: 0;
	width: 10px;
	visibility: hidden;
	z-index: -100;
}

.resultSet {
	margin-top: 1rem;
}
.resultSet:first-child {
	margin-top: 0;
}

sticky {
	position: relative;
}
sticky.ui.header {
	display: block;
	margin: 0 -1px 0.5rem;
	padding: 0.5rem 1px 0.25rem;
	background: white;
	z-index: 100;
}
sticky.fixed {
	position: fixed;
	right: 0;
	left: 0;
}
sticky.fixed.ui.header {
	margin: 0;
}

.sticky-placeholder {
	display: block;
	position: static;
	visibility: hidden;
	z-index: -100;
}

#resultsContainer > div.padding {
	padding: 1rem;
}

#settings-button {
	border-top-right-radius: 0.25em;
	border-bottom-right-radius: 0.25em;
}

#resultsTabs > div .top.right.attached.ui.labels {
	position: absolute;
	top: 0;
	z-index: 100;
	padding: 0 4px 4px 0;
}
#resultsTabs > div .top.right.attached.ui.labels > .label {
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

#resultsTabs > div .top.left.attached.ui.labels {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	padding: 0 4px 4px 0;
}
#resultsTabs > div .top.left.attached.ui.labels > .label {
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}
#resultsTabs > div .top.left.attached.ui.labels > .label:first-child {
	border-bottom-left-radius: 0;
}

#resultsTabs > #geometry-map .top.left.attached.ui.labels {
	top: -2px;
	left: 3em;
}

.top.attached.ui.labels > .ui.label {
	margin-top: -2px;
	padding-top: 3px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.normal-case.ui.label {
	text-transform:	none;
}
.squarish.ui.label {
	padding-left: 0.5em;
	padding-right: 0.5em;
	width: 1em;
	box-sizing: content-box;
	text-align: center;
}
.squarish.ui.label > .icon {
	margin-top: 0;
	margin-left: 0;
}
.clickable.ui.label {
}
.disabled.clickable.ui.label {
	cursor: default;
	background: rgba(0, 0, 0, 0.35);
}

.ui.dropdown .menu .item > .label,
.ui.menu .item > .label {
	padding: 0.3em;
	margin-top: -0.25em;
	margin-bottom: 0;
}

.ui.dropdown .menu .item > .ui.right.buttons,
.ui.dropdown .menu .item > .right.label,
.ui.menu .item > .right.label {
	position: absolute;
	top: 0.5rem;
	right: 0.65rem;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
}

.ui.dropdown .menu .two.button.item {
	padding-right: 4.5em !important;
}

.ui.dropdown .menu .item > .ui.button {
	margin-top: -0.5em;
}

.ui.popup.menu {
	padding: 0;
}

.ui.dropdown .vertical.menu .item > i.icon.left,
.ui.vertical.menu .item > i.icon.left {
	float: left;
	margin: 0em 0.5em 0em 0em;
}

.ui.label#permalink {
	z-index: 825;
}

.ui.bottom.right.attached.labels {
	position: absolute;
	top: auto;
	bottom: 0;
	left: auto;
	width: auto;
	opacity: 0.9;
	z-index: 825;
}
.ui.bottom.right.attached.labels > .label {
	border-radius: 4px 4px 0 0;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

#resultsTabs > .ui.bottom.right.attached.labels {
	z-index: 1001;
}

.ui.top.right.attached.labels,
.ui.bottom.right.attached.labels,
#resultsTabs > div .ui.top.right.attached.labels {
	/* Make room for scrollbars! */
	right: 0.8em;
}

.ui.hiding.bottom.attached.labels {
	padding: 2em 0 0 2em;
	pointer-events: none;
	white-space: nowrap;
}
.ui.hiding.bottom.attached.labels .label {
	position: relative;
	top: 0;
}
.ui.hiding.bottom.attached.labels.hide .label {
	top: 1.5em;
}

.ui.hiding.bottom.right.attached.labels {
	/* Extend the padding so the labels still hide when mousing over the scrollbar. */
	right: 0;
	padding-right: 0.8em;
}

/* Tweak margins on label details. */
.ui.label > .detail {
	margin-left: 0.5em;
}
.ui.label > .left.detail {
	margin-left: 0;
	margin-right: 0.5em;
}
.ui.label > .middle.detail {
	margin-left: 0;
}

/* FIX: Don't set font size to 0em in dropdown menus! */
.ui.menu:not(.vertical) .dropdown .menu { font-size: 1rem; }

/* FIX: Don't leave so much space next to right-floated buttons in dropdown menus. */
.right.icon.ui.button:first-child { margin-right: -0.75rem; }

/* FIX: Don't smash adjacent buttons together in dropdown menus. */
.right.icon.ui.button + .right.icon.ui.button { margin-right: 0.5em; }

/* FIX: Don't add more extra space between the detail text and the dropdown icon. */
.dropdown.ui.label > .detail + .dropdown.icon { margin-left: 0.5em; }

/* FIX: Remove border radii on dimmers inside attached segments. */
.ui.segment.attached > .ui.dimmer { border-radius: 0; }
.ui.segment.bottom.attached > .ui.dimmer { border-radius: 0px 0px 5px 5px; }
.ui.segment.top.attached > .ui.dimmer { border-radius: 5px 5px 0px 0px; }

/* FIX: Correct border radii on tables with only one column. */
.ui.table thead th:only-child {
	border-radius: 5px 5px 0px 0px;
}

/* FIX: Set the font family of input elements to use a font that actually supports antialiasing in Linux. */
.ui.input input {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
}

/* FIX: Remove right margin and transparency from any icon that is the only child of a label. */
.ui.label > .icon:first-child:last-child {
	margin-right: 0;
	opacity: 1;
}

/* FIX: Semantic's attached labels have some messed up border radii. */
.ui.bottom.right.attached.label {
	border-radius: 4px 0 4px 0;
}

.ui.labeled.input > .ui.label.dropdown.visible {
	display: table-cell !important;
}

/* FIX: Semantic's attached labels still have margin?? */
.ui.bottom.attached.labels .label { margin-bottom: 0; }
.ui.right.attached.labels .label { margin-right: 0; }

/* FIX: Semantic artificially moves buttons inside items in non-vertical lists up by .05em for some reason; looks like
 * for non-attached menus, it should be moved down by 0.1em instead. */
.ui.menu:not(.vertical) .item > .button {
	top: 0.1em;
}

/* FIX: Vertical menu items that are checkboxes get their input elements set to the wrong position. */
.ui.menu.vertical .item.ui.checkbox input {
	top: 1em;
}

/* FIX: Re-enable background color change on hover for active dropdown menu items. */
.ui.dropdown .menu > .active.item:hover { background: rgba(0, 0, 0, 0.05); }

/* FIX: Non-inverted popup menus inside inverted menus get the wrong colors on their items. */
.ui.menu .item .popup.menu:not(.inverted) > .green.active.item,
.ui.popup.green.menu:not(.inverted) > .active.item {
	border-color: #A1CF64 !important;
	color: #A1CF64 !important;
}
.ui.menu .item .popup.menu:not(.inverted) > .red.active.item,
.ui.popup.red.menu:not(.inverted) > .active.item {
	border-color: #D95C5C !important;
	color: #D95C5C !important;
}
.ui.menu .item .popup.menu:not(.inverted) > .blue.active.item,
.ui.popup.blue.menu:not(.inverted) > .active.item {
	border-color: #6ECFF5 !important;
	color: #6ECFF5 !important;
}
.ui.menu .item .popup.menu:not(.inverted) > .purple.active.item,
.ui.popup.purple.menu:not(.inverted) > .active.item {
	border-color: #564F8A !important;
	color: #564F8A !important;
}
.ui.menu .item .popup.menu:not(.inverted) > .orange.active.item,
.ui.popup.orange.menu:not(.inverted) > .active.item {
	border-color: #F05940 !important;
	color: #F05940 !important;
}
.ui.menu .item .popup.menu:not(.inverted) > .teal.active.item,
.ui.popup.teal.menu:not(.inverted) > .active.item {
	border-color: #00B5AD !important;
	color: #00B5AD !important;
}

.ui.menu .item .popup.menu:not(.inverted) > .item,
.ui.menu .item .popup.menu:not(.inverted) > .item > a:not(.button),
.ui.menu .item .popup.menu:not(.inverted) > .item:hover,
.ui.menu .item .popup.menu:not(.inverted) > .item > a:not(.button):hover {
	color: rgba(0, 0, 0, 0.75);
}
.ui.menu .item .popup.menu:not(.inverted) > .item .item,
.ui.menu .item .popup.menu:not(.inverted) > .item .item > a:not(.button),
.ui.menu .item .popup.menu:not(.inverted) > .item .item:hover,
.ui.menu .item .popup.menu:not(.inverted) > .item .item > a:not(.button):hover {
	color: rgba(30, 30, 30, 0.7);
}
.ui.menu .item .popup.menu:not(.inverted) > .item .item .item,
.ui.menu .item .popup.menu:not(.inverted) > .item .item .item > a:not(.button),
.ui.menu .item .popup.menu:not(.inverted) > .item .item .item:hover,
.ui.menu .item .popup.menu:not(.inverted) > .item .item .item > a:not(.button):hover {
	color: rgba(30, 30, 30, 0.6);
}
.ui.menu .item .popup.menu:not(.inverted) > .dropdown .menu .item,
.ui.menu .item .popup.menu:not(.inverted) > .dropdown .menu .item a:not(.button),
.ui.menu .item .popup.menu:not(.inverted) > .dropdown .menu .item:hover,
.ui.menu .item .popup.menu:not(.inverted) > .dropdown .menu .item a:not(.button):hover {
	color: rgba(0, 0, 0, 0.75);
}
.ui.menu .item .popup.menu:not(.inverted) > .item .menu a.item:hover,
.ui.menu .item .popup.menu:not(.inverted) > .item .menu .link.item:hover {
	color: rgba(0, 0, 0, 0.85);
}

.ui.popup.link.menu:not(.inverted) > .item:hover,
.ui.menu .item .popup.menu:not(.inverted) > .link.item:hover,
.ui.menu .item .popup.menu:not(.inverted) > a.item:hover,
.ui.menu .item .popup.menu:not(.inverted) > .ui.dropdown .menu .item:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.02);
}
.ui.menu .item .popup.menu:not(.inverted) > .ui.dropdown.item.active {
	background-color: rgba(0, 0, 0, 0.02);
}

.ui.popup.menu .header.item {
	padding: 0.83em 0.95em;
}
.ui.menu .item .popup.menu:not(.inverted) > .header.item {
	background-color: rgba(0, 0, 0, 0.04);
}
