html, body {
	margin: 0;
	height: 100%;
	font-size: 14px;
}
body {
	background-color: #eee;
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
	overflow: hidden;
}

code, pre, .ace_editor {
	font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
}

.container,
.container.fill-parent,
.container.segment {
	margin-right: auto !important;
	margin-left: auto !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	position: relative;
}
@media (min-width: 769px) {
	.container, .container.fill-parent { width: 750px !important; }
}
@media (min-width: 993px) {
	.container, .container.fill-parent { width: 970px !important; }

	#editor {
		border-bottom-right-radius: 0;
	}
}
@media (min-width: 1201px) {
	.container, .container.fill-parent { width: 1170px !important; }
}
@media (max-width: 768px) {
	.container {
		margin-right: 0 !important;
		margin-left: 0 !important;
	}

	#editor {
		border-radius: 0;
	}

	#resultsTabs .ui.ribbon.label:after {
		display: none;
	}
}

@media (min-width: 769px) {
	#resultsArea, #mainMenu > .container {
		padding: 0 !important;
	}
}

/* Fix for menu overflow. */
.container::after {
	content: '.';
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
}

#mainMenu > .container > #copyright {
	font-size: smaller;
	position: absolute;
	right: 0;
	bottom: -1.5em;
	font-size: x-small;
	color: #bbbbbb;
	text-align: right;
}

.fill-parent {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
}

.fill.parent,
.fill.left.half, .fill.right.half,
.fill.left.third, .fill.right.third,
.fill.left.two.thirds, .fill.right.two.thirds {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: auto;
	height: auto;
	-webkit-transition: left 0.5s, right 0.5s;
	transition: left 0.5s, right 0.5s;
}

#editor {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: auto;
	height: auto;
	margin: 0;
	border-radius: 0;
	z-index: 100;
	-webkit-transition: left 0.5s, right 0.5s;
	transition: left 0.5s, right 0.5s;
}

#querySidebar {
	position: absolute;
	top: 0;
	bottom: 0;
	right: -100%;
	width: 100%;
	height: auto;
	margin: 0;
	overflow: hidden;
	border-radius: 5px 0 0 5px;
	z-index: 800;
	-webkit-transition: left 0.5s, right 0.5s;
	transition: left 0.5s, right 0.5s;
}

#querySidebar.active {
	right: 0;
}

#querySidebar > h3 {
	margin-left: 1em;
}

#querySidebar .launch.button.wrapper {
	position: absolute;
	top: 0.75em;
	left: 0;
}

#querySidebar .launch.button.wrapper .launch.icon.ui.button {
	position: relative;
	top: 0;
	right: 0;
	margin-left: -100%;
	border-radius: 0.25em 0em 0em 0.25em;
	z-index: 801;
	-webkit-transition: margin-left 0.5s;
	transition: margin-left 0.5s;
}

#querySidebar.active .launch.button.wrapper .launch.icon.ui.button {
	right: auto;
	margin-left: -0.5em;
	border-radius: 0em 0.25em 0.25em 0em;
}

#querySidebar.active .launch.button.wrapper .launch.icon.ui.button:after {
	position: absolute;
	content: "";
	top: 100%;
	left: 0%;
	border-top: 0em solid transparent;
	border-right-width: 0.5em;
	border-right-color: #444444;
	border-right-style: solid;
	border-bottom: 0.5em solid transparent;
	border-left: 0em solid transparent;
	width: 0em;
	height: 0em;
}

@media (min-width: 320px) {
	#querySidebar {
		right: -320px;
		width: 320px;
	}
}

@media (min-width: 769px) {
	#editor {
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	#querySidebar {
		border-bottom-right-radius: 5px;
	}
}

@media (min-width: 993px) {
	#editor {
		border-bottom-right-radius: 0;
		right: 320px;
	}

	#querySidebar,
	#querySidebar.active {
		right: 0;
		border-radius: 0 0 0.25em 0;
	}

	#querySidebar > h3 {
		margin-left: 0;
	}

	#querySidebar .launch.button.wrapper .launch.icon.ui.button { display: none; }

	.fill.left.half { right: 50%; }
	.fill.right.half { left: 50%; }

	.fill.left.third { right: 67%; }
	.fill.right.third { left: 67%; }

	.fill.left.two.thirds { right: 33%; }
	.fill.right.two.thirds { left: 33%; }
}

.query-plan.info.ui.popup {
	max-width: 90%;
	max-height: 65%;
	padding: 0;
}

.query-plan.ui.popup > .header, .query-plan.ui.popup > .content {
	padding: 0.5em;
}

.query-plan.ui.popup table {
	max-width: 100%;
	position: relative;
	z-index: 10;
}

.query-plan.ui.popup table th {
	white-space: nowrap;
}

.query-plan.ui.popup table tr td:last-child, .query-plan.ui.popup table tr th:last-child {
	padding-right: 16px;
}

.hoverable {
	cursor: help;
}
.hoverable:hover {
	fill: #00827c;
}

table td.hoverable.ui.dropdown {
	cursor: default;
	box-shadow: 2px 0px 0px rgba(0, 181, 173, 0.9) inset;
}

table td.ui.dropdown {
	line-height: normal;
	display: table-cell;
}
table td.hoverable.ui.dropdown > .menu {
	box-sizing: border-box;
	padding: 0.3em 1em 1em 0.2em;
	border-radius: 0;
	border-left: 2px solid rgba(50, 50, 50, 0.9);
	max-width: 100%;
	max-height: 1000%;
	overflow: hidden;
}
table td.hoverable.ui.dropdown > .ui.menu::after {
	content: none;
}

table td.ui.dropdown > i.icon {
	position: absolute;
	right: 0;
	vertical-align: middle;
	top: 4px;
}

.ps-container > .ps-scrollbar-x-rail,
.ps-container > .ps-scrollbar-y-rail {
	visibility: hidden;
}

.ps-container.ps-active-x > .ps-scrollbar-x-rail,
.ps-container.ps-active-y > .ps-scrollbar-y-rail {
	visibility: visible;
}

#editor .ps-container > .ps-scrollbar-x-rail,
#editor .ps-container > .ps-scrollbar-y-rail {
	visibility: visible;
}
#editor .ps-container > .ps-scrollbar-x-rail:hover,
#editor .ps-container > .ps-scrollbar-y-rail:hover,
#editor .ps-container > .ps-scrollbar-x-rail.hover,
#editor .ps-container > .ps-scrollbar-y-rail.hover,
#editor .ps-container > .ps-scrollbar-x-rail.in-scrolling,
#editor .ps-container > .ps-scrollbar-y-rail.in-scrolling {
	background-color: #555;
}

.ui.dropdown > .menu > .ps-scrollbar-x-rail,
.ui.dropdown > .menu > .ps-scrollbar-x-rail > .ps-scrollbar-x {
	height: 6px;
	bottom: 1px;
	border-radius: 3px;
}
.ui.dropdown > .menu > .ps-scrollbar-y-rail,
.ui.dropdown > .menu > .ps-scrollbar-y-rail > .ps-scrollbar-y {
	width: 6px;
	right: 1px;
	border-radius: 3px;
}

.ui.dropdown > .overlapping.menu {
	top: 0;
}

table td > pre:only-child, table td.ui.dropdown, table td.ui.dropdown > .text {
	margin: 0;
}
table td > pre:only-child, table td.ui.dropdown > pre.text, table td.ui.dropdown > pre.menu {
	font-size: 10px;
}

.ui.dropdown > pre.menu {
	white-space: pre;
}

.smallest.ui.table {
	font-size: 0.7em;
}

.fill-height {
	position: relative;
	height: 100%;
	margin: 0;
}

.ui.left.right.attached + .ui.left.right.attached {
	margin-top: 1rem;
}

.animated.ui.button > .visible.content > i.icon {
	margin: 0 0.5em;
}

.animated.ui.button > .visible.content > i.open.folder.outline.icon {
	margin: 0 0.4em 0 0.6em;
}

.animated.left.attached.ui.button {
	text-align: center;
}

body {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-align-content: flex-start;
	-ms-flex-line-pack: start;
	align-content: flex-start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}

body > :nth-child(1),
body > :nth-child(3) {
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	-webkit-align-self: stretch;
	-ms-flex-item-align: stretch;
	align-self: stretch;
}

body > :nth-child(2) {
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-align-self: stretch;
	-ms-flex-item-align: stretch;
	align-self: stretch;
}

svg {
	display: block;
    overflow: hidden;
	background: #fff;
}

svg .node rect {
    stroke: #333;
    stroke-width: 1.5px;
    fill: #fff;
}

svg .node#output rect {
    stroke: none;
    stroke-width: 0;
    fill: transparent;
}

svg .edgeLabel rect {
    fill: rgba(255, 255, 255, .75);
	padding: 1px 3px;
}

svg .edgePath {
    stroke: #333;
    stroke-width: 1.5px;
    fill: none;
}

#resultsArea {
	margin-top: 1rem;
	position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-align-content: flex-start;
	-ms-flex-line-pack: start;
	align-content: flex-start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}

#resultsArea > :nth-child(1) {
	position: relative;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-align-self: stretch;
	-ms-flex-item-align: stretch;
	align-self: stretch;
}

#resultsArea > :nth-child(2) {
	position: relative;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	-webkit-align-self: stretch;
	-ms-flex-item-align: stretch;
	align-self: stretch;
}

#plan-diagram-dimmer.ui.dimmer > .content,
#messages-dimmer.ui.dimmer > .content {
	display: block;
}

.square.ui.button {
	border-radius: 0;
}

.compact.ui.label {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

#editorArea {
	display: block;
	position: relative;
	margin-bottom: 1em;
	overflow: hidden;
}

#editor {
	position: absolute;
	margin: 0;
	border-top: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.heading.row {
	font-weight: bold;
}

#paramsGrid {
	padding: 0;
}

#paramsGrid .ui.grid {
	margin: 0;
}

#paramsGrid .ui.grid > .row {
	margin: 0;
	padding: 0.25rem 0;
}

#paramsGrid .ui.grid > .row:first-child {
	background: #444;
	border-radius: 5px 5px 0 0;
}

/*
#paramsGrid .column > .ui.input input {
	padding: 0.125em 0.25em;
}
*/

#paramsGrid .column .ui.left.labeled.icon.button {
	padding-left: 2.3em !important;
	padding-right: 0.7em !important;
}
#paramsGrid .column .ui.right.labeled.icon.button {
	padding-left: 0.7em !important;
	padding-right: 2.3em !important;
}

#paramsGrid .column .ui.labeled.icon.button > .icon {
	width: 1.75em;
}

#resultsTabs {
	height: 50%;
	z-index: 0;
	border-radius: 0;
	border-bottom: none;
}

#resultsTabs > .ui.bottom.right.attached.label {
	border-bottom-right-radius: 0;
}

#resultsContainer {
	clear: both;
	overflow: hidden;
	position: absolute;
	top: 1em; bottom: 1em;
	left: 1em; right: 1em;
}

#messagesContainer {
	box-sizing: border-box;
	clear: both;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0; right: 0;
	max-height: 100%;
	padding: 0.25em 1em;
	z-index: 1001;
}

#messagesContainer > section.content {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 0.5em;
}

#messagesContainer > section.content:not(:first-of-type) { padding-top: 0.25em; }
#messagesContainer > section.content:not(:last-of-type) { padding-bottom: 0.25em; }

#messagesContainer > section.content:first-of-type {
	border-top-left-radius: 0.7em;
	border-top-right-radius: 0.7em;
}

#messagesContainer > section.content:last-of-type {
	border-bottom-left-radius: 0.7em;
	border-bottom-right-radius: 0.7em;
}

#settings-button {
	border-top-right-radius: 0.25em;
	border-bottom-right-radius: 0.25em;
}

#noRowsLabel {
	position: absolute;
	top: 1rem;
	left: -1rem;
}

.clickable {
	cursor: pointer;
}

.squarish.ui.label {
	padding-left: 0.5em;
	padding-right: 0.5em;
	width: 1em;
	box-sizing: content-box;
	text-align: center;
}
.ui.menu .item > .label {
	padding-left: 0.3em;
	padding-right: 0.3em;
}

.ui.popup.menu {
	padding: 0;
}

.ui.vertical.menu .item > i.icon.left {
	float: left;
	margin: 0em 0.5em 0em 0em;
}

.ui.label#permalink {
	z-index: 825;
}

.ui.bottom.right.attached.labels {
	position: absolute;
	top: auto;
	bottom: 0;
	left: auto;
	right: 0;
	width: auto;
	opacity: 0.9;
	z-index: 825;
}

.ui.bottom.right.attached.labels > .label {
	border-radius: 4px 4px 0 0;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

#editorArea > .ui.bottom.right.attached.labels > .label:last-child,
.ui.segment .ui.bottom.right.attached.labels > .label:last-child {
	border-radius: 4px 0 5px 0;
}

#resultsTabs > .ui.bottom.right.attached.labels > .label:last-child {
	border-radius: 4px 0 0 0;
}

/* FIX: Correct border radii on tables with only one column. */
.ui.table thead th:only-child {
	border-radius: 5px 5px 0px 0px;
}

/* FIX: Set the font family of input elements to use a font that actually supports antialiasing in Linux. */
.ui.input input {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
}

/* FIX: Remove left margin from any detail that is the first child of a label. */
.ui.label > .detail:first-child {
	margin-left: 0;
}

/* FIX: Add right margin from any detail that is not the last child of a label. */
.ui.label > .detail:not(:last-child) {
	margin-right: 0.5em;
}

/* FIX: Remove right margin and transparency from any icon that is the only child of a label. */
.ui.label > .icon:first-child:last-child {
	margin-right: 0;
	opacity: 1;
}

/* FIX: Semantic's attached labels have some messed up border radii. */
.ui.bottom.right.attached.label {
	border-radius: 4px 0 4px 0;
}

/* FIX: Semantic artificially moves buttons inside items in non-vertical lists up by .05em for some reason; looks like
 * for non-attached menus, it should be moved down by 0.1em instead. */
.ui.menu:not(.vertical) .item > .button {
	top: 0.1em;
}

/* FIX: Vertical menu items that are checkboxes get their input elements set to the wrong position. */
.ui.menu.vertical .item.ui.checkbox input {
	top: 1em;
}

/* FIX: Non-inverted popup menus inside inverted menus get the wrong colors on their items. */
.ui.menu .item .popup.menu:not(.inverted) > .green.active.item,
.ui.popup.green.menu:not(.inverted) > .active.item {
	border-color: #A1CF64 !important;
	color: #A1CF64 !important;
}
.ui.menu .item .popup.menu:not(.inverted) > .red.active.item,
.ui.popup.red.menu:not(.inverted) > .active.item {
	border-color: #D95C5C !important;
	color: #D95C5C !important;
}
.ui.menu .item .popup.menu:not(.inverted) > .blue.active.item,
.ui.popup.blue.menu:not(.inverted) > .active.item {
	border-color: #6ECFF5 !important;
	color: #6ECFF5 !important;
}
.ui.menu .item .popup.menu:not(.inverted) > .purple.active.item,
.ui.popup.purple.menu:not(.inverted) > .active.item {
	border-color: #564F8A !important;
	color: #564F8A !important;
}
.ui.menu .item .popup.menu:not(.inverted) > .orange.active.item,
.ui.popup.orange.menu:not(.inverted) > .active.item {
	border-color: #F05940 !important;
	color: #F05940 !important;
}
.ui.menu .item .popup.menu:not(.inverted) > .teal.active.item,
.ui.popup.teal.menu:not(.inverted) > .active.item {
	border-color: #00B5AD !important;
	color: #00B5AD !important;
}

.ui.menu .item .popup.menu:not(.inverted) > .item,
.ui.menu .item .popup.menu:not(.inverted) > .item > a:not(.button),
.ui.menu .item .popup.menu:not(.inverted) > .item:hover,
.ui.menu .item .popup.menu:not(.inverted) > .item > a:not(.button):hover {
	color: rgba(0, 0, 0, 0.75);
}
.ui.menu .item .popup.menu:not(.inverted) > .item .item,
.ui.menu .item .popup.menu:not(.inverted) > .item .item > a:not(.button),
.ui.menu .item .popup.menu:not(.inverted) > .item .item:hover,
.ui.menu .item .popup.menu:not(.inverted) > .item .item > a:not(.button):hover {
	color: rgba(30, 30, 30, 0.7);
}
.ui.menu .item .popup.menu:not(.inverted) > .item .item .item,
.ui.menu .item .popup.menu:not(.inverted) > .item .item .item > a:not(.button),
.ui.menu .item .popup.menu:not(.inverted) > .item .item .item:hover,
.ui.menu .item .popup.menu:not(.inverted) > .item .item .item > a:not(.button):hover {
	color: rgba(30, 30, 30, 0.6);
}
.ui.menu .item .popup.menu:not(.inverted) > .dropdown .menu .item,
.ui.menu .item .popup.menu:not(.inverted) > .dropdown .menu .item a:not(.button),
.ui.menu .item .popup.menu:not(.inverted) > .dropdown .menu .item:hover,
.ui.menu .item .popup.menu:not(.inverted) > .dropdown .menu .item a:not(.button):hover {
	color: rgba(0, 0, 0, 0.75);
}
.ui.menu .item .popup.menu:not(.inverted) > .item .menu a.item:hover,
.ui.menu .item .popup.menu:not(.inverted) > .item .menu .link.item:hover {
	color: rgba(0, 0, 0, 0.85);
}

.ui.popup.link.menu:not(.inverted) > .item:hover,
.ui.menu .item .popup.menu:not(.inverted) > .link.item:hover,
.ui.menu .item .popup.menu:not(.inverted) > a.item:hover,
.ui.menu .item .popup.menu:not(.inverted) > .ui.dropdown .menu .item:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.02);
}
.ui.menu .item .popup.menu:not(.inverted) > .ui.dropdown.item.active {
	background-color: rgba(0, 0, 0, 0.02);
}

.ui.popup.menu .header.item {
	padding: 0.83em 0.95em;
}
.ui.menu .item .popup.menu:not(.inverted) > .header.item {
	background-color: rgba(0, 0, 0, 0.04);
}
