<accordion ng-if="detect.isMultiLine(value)">
	<strong class="title" ng-if="detect.isSet(key)">
		<i class="dropdown icon"></i>{{ key }}: &#x2026;
	</strong>

	<ul class="array content" ng-if="detect.isArray(value)">
		<li ng-repeat="v in value track by $index" inspect="v" inspect-key="$index"></li>
	</ul>
	<ul class="object content" ng-if="detect.isPlainObject(value)">
		<li ng-repeat="(k, v) in value" inspect="v" inspect-key="k"></li>
	</ul>
	<pre class="content" ng-if="!detect.isArray(value) && !detect.isPlainObject(value)"><code>{{ value|inspect }}</code></pre>
</accordion>

<strong ng-if="!detect.isMultiLine(value) && detect.isSet(key)">{{ key }}:</strong>
<pre ng-if="!detect.isMultiLine(value)"><code>{{ value|inspect }}</code></pre>
