<!--accordion ng-if="detect.isMultiLine(value) && hasInspect(value)" ng-switch="valueType"-->
<accordion ng-if="hasInspect(value)" ng-switch="valueType">
	<strong class="title" ng-if="detect.isSet(key)">
		<i class="dropdown icon"></i>{{ key }}: &#x2026;
	</strong>

	<div class="content" ng-bind-html="htmlInspect(value)"></div>
</accordion>

<accordion ng-if="detect.isMultiLine(value) && !hasInspect(value)" ng-switch="valueType">
	<strong class="title" ng-if="detect.isSet(key)">
		<i class="dropdown icon"></i>{{ key }}: &#x2026;
	</strong>

	<ul class="content" ng-switch-when="array">
		<li ng-repeat="v in value track by $index" inspect="v" inspect-key="$index"></li>
	</ul>
	<ul class="content" ng-switch-when="object">
		<li ng-repeat="(k, v) in value" inspect="v" inspect-key="k"></li>
	</ul>
	<pre class="content" ng-switch-default><code>{{ value|inspect }}</code></pre>
</accordion>

<strong ng-if="!detect.isMultiLine(value) && detect.isSet(key)">{{ key }}:</strong>
<!--div ng-if="!detect.isMultiLine(value) && hasInspect(value)" ng-bind-html="htmlInspect(value)"></div-->
<pre ng-if="!detect.isMultiLine(value) && !hasInspect(value)"><code>{{ value|inspect }}</code></pre>
