/*

███████╗███████╗███╗   ███╗ █████╗ ███╗   ██╗████████╗██╗ ██████╗    ██╗   ██╗██╗
██╔════╝██╔════╝████╗ ████║██╔══██╗████╗  ██║╚══██╔══╝██║██╔════╝    ██║   ██║██║
███████╗█████╗  ██╔████╔██║███████║██╔██╗ ██║   ██║   ██║██║         ██║   ██║██║
╚════██║██╔══╝  ██║╚██╔╝██║██╔══██║██║╚██╗██║   ██║   ██║██║         ██║   ██║██║
███████║███████╗██║ ╚═╝ ██║██║  ██║██║ ╚████║   ██║   ██║╚██████╗    ╚██████╔╝██║
╚══════╝╚══════╝╚═╝     ╚═╝╚═╝  ╚═╝╚═╝  ╚═══╝   ╚═╝   ╚═╝ ╚═════╝     ╚═════╝ ╚═╝

*/

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes/';

/* Path to site override folder */
@siteFolder   : 'site/';


/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below

   Be sure to update the user folder name (see README)
*/

/* Finding themed elements, in fish:
	for dir in src/themes/*; echo (set_color -o yellow)(basename $dir)(set_color normal)
		pushd $dir
		find * -name '*.variables' | sed 's/^/    /;s@/\(\w\+\)\.@/\x1b[1;34m\1\x1b[m.@'
		popd
	end
*/

/* Global */
@site       : 'default';
@reset      : 'default';

/* Elements */
@button     : 'default';
@container  : 'default';
@icon       : 'default';
@divider    : 'default';
@flag       : 'default';
@header     : 'default';
@image      : 'default';
@input      : 'default';
@label      : 'default';
@list       : 'default';
@loader     : 'default';
@rail       : 'default';
@reveal     : 'default';
@segment    : 'default';
@step       : 'default';

/* Collections */
@breadcrumb : 'default';
@form       : 'default';
@grid       : 'default';
@menu       : 'default';
@message    : 'default';
@table      : 'default';

/* Modules */
@accordion  : 'default';
@chatroom   : 'default';
@checkbox   : 'default';
@dimmer     : 'default';
@dropdown   : 'default';
@modal      : 'default';
@nag        : 'default';
@popup      : 'default';
@progress   : 'default';
@rating     : 'default';
@search     : 'default';
@shape      : 'default';
@sidebar    : 'default';
@sticky     : 'default';
@tab        : 'default';
@transition : 'default';
@video      : 'default';

/* Views */
@ad         : 'default';
@card       : 'default';
@comment    : 'default';
@feed       : 'default';
@item       : 'default';
@statistic  : 'default';


/*******************************
         Import Theme
*******************************/

@import "theme.less";

/* End Config */

// vim: ft=less
