<!DOCTYPE html>
<!--[if lt IE 7]>      <html ng-app="webPGQ" ng-controller="MainController" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html ng-app="webPGQ" ng-controller="MainController" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html ng-app="webPGQ" ng-controller="MainController" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app="webPGQ" ng-controller="MainController" class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title ng-bind="currentConnection ? 'web-pgq [' + currentConnection + ']' : 'web-pgq - a PostgreSQL query tool'">web-pgq - a PostgreSQL query tool</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!--[if lt IE 9]>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
		<![endif]-->

		<!--
		==================
		==== CDN libs ====
		-->

		<!-- Non-minified -->
		<!--
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700" type="text/css">

		<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
		<script>window.jQuery || document.write('<script src="js/vendor/jquery-2.0.3.min.js"><\/script>')</script>

		<script src="http://d3js.org/d3.v3.js"></script>
		<script src="http://cpettitt.github.io/project/dagre-d3/v0.2.9/dagre-d3.js"></script>

		<link rel="stylesheet" href="perfect-scrollbar/src/perfect-scrollbar.css">
		<script src="perfect-scrollbar/src/perfect-scrollbar.js"></script>
		-->

		<!-- Minified -->
		<!--
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700" type="text/css">

		<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/vendor/jquery-2.0.3.min.js"><\/script>')</script>

		<script src="http://d3js.org/d3.v3.min.js"></script>
		<script src="http://cpettitt.github.io/project/dagre-d3/v0.2.9/dagre-d3.min.js"></script>

		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.5.3/perfect-scrollbar.min.css">
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.5.3/perfect-scrollbar.min.js"></script>
		-->

		<!-- Local copy (offline) -->
		<link rel="stylesheet" href="css/vendor/SourceSansPro-OpenSans-fonts.css">

		<script src="lodash/lodash.min.js"></script>

		<script src="jquery/dist/jquery.min.js"></script>

		<script src="js/vendor/d3.v3.min.js"></script>
		<script src="js/vendor/dagre-d3.min.js"></script>

		<link rel="stylesheet" href="perfect-scrollbar/min/perfect-scrollbar.min.css">
		<script src="perfect-scrollbar/min/perfect-scrollbar.min.js"></script>


		<!--
		============================================
		==== Non-CDN (bower or local-only) libs ====
		-->

		<!-- Non-minified -->
		<link rel="stylesheet" href="semantic-ui/dist/semantic.css">
		<script src="semantic-ui/dist/semantic.js"></script>

		<script src="js/vendor/unisocket.js"></script>

		<script src="angular/angular.js"></script>
		<script src="angular-animate/angular-animate.js"></script>
		<script src="angular-cookies/angular-cookies.js"></script>
		<script src="angular-recursion/angular-recursion.js"></script>
		<script src="angular-sanitize/angular-sanitize.js"></script>
		<script src="angular-vs-repeat/src/angular-vs-repeat.js"></script>

		<script src="ace-builds/src-noconflict/ace.js"></script>
		<script src="ace-builds/src-noconflict/ext-language_tools.js"></script>
		<script src="angular-ui-ace/ui-ace.js"></script>

		<script src="angular-tiny-eventemitter/dist/angular-tiny-eventemitter.js"></script>

		<link rel="stylesheet" href="openlayers3/build/ol.css">
		<!--script src="openlayers3/build/ol-debug.js"></script-->
		<script src="openlayers3/build/ol.js"></script>
		<script src="angular-openlayers-directive/dist/angular-openlayers-directive.js"></script>

		<link rel="stylesheet" href="bg-splitter/css/style.css">
		<script src="bg-splitter/js/splitter.js"></script>

		<link rel="stylesheet" href="highlightjs/styles/railscasts.css">
		<script src="highlightjs/highlight.pack.js"></script>

		<!-- Minified -->
		<!--
		<link rel="stylesheet" href="semantic-ui/dist/semantic.min.css">
		<script src="semantic-ui/dist/semantic.min.js"></script>

		<script src="js/vendor/unisocket.js"></script>

		<script src="angular/angular.min.js"></script>
		<script src="angular-animate/angular-animate.min.js"></script>
		<script src="angular-cookies/angular-cookies.min.js"></script>

		<script src="ace-builds/src-min-noconflict/ace.js"></script>
		<script src="ace-builds/src-min-noconflict/ext-language_tools.js"></script>
		<script src="angular-ui-ace/ui-ace.min.js"></script>

		<script src="angular-tiny-eventemitter/dist/angular-tiny-eventemitter.min.js"></script>

		<link rel="stylesheet" href="css/vendor/ol.css">
		<script src="js/vendor/ol.js"></script>
		<script src="angular-openlayers-directive/dist/angular-openlayers-directive.min.js"></script>
		-->


		<!--
		===============================
		==== Application resources ====
		-->

		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/animations.css">

		<script src="js/modules.js"></script>

		<script src="js/directives/accordion.js"></script>
		<script src="js/directives/digraph.js"></script>
		<script src="js/directives/dropdown.js"></script>
		<script src="js/directives/editor.js"></script>
		<script src="js/directives/hiding.js"></script>
		<script src="js/directives/inspect.js"></script>
		<script src="js/directives/result-value.js"></script>
		<script src="js/directives/map-view.js"></script>
		<script src="js/directives/open-file.js"></script>
		<script src="js/directives/save-file.js"></script>
		<script src="js/directives/scrollable.js"></script>
		<script src="js/directives/sticky.js"></script>
		<script src="js/directives/tooltip.js"></script>

		<script src="js/filters/capitalize.js"></script>
		<script src="js/filters/inspect.js"></script>

		<script src="js/services/await.js"></script>
		<script src="js/services/promise.js"></script>
		<script src="js/services/queue-digest.js"></script>
		<script src="js/services/graph.js"></script>
		<script src="js/services/keybinding.js"></script>
		<script src="js/services/logger.js"></script>
		<script src="js/services/map.js"></script>
		<script src="js/services/socket.js"></script>
		<script src="js/services/sql.js"></script>

		<script src="js/main.js"></script>
	</head>

	<body>
		<!--[if lt IE 7]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<div class="ui page dimmer active" ng-if="!pageLoaded">
			<div class="ui text loader">Loading</div>
		</div>

		<bg-splitter orientation="horizontal">
			<bg-pane min-size="128" id="topPane">
				<bg-splitter id="editorArea" pos="75%" orientation="vertical">
					<bg-pane id="editor" min-size="128" class="inverted ui segment">
						<editor options="mainEditorConfig" ng-model="query.text"></editor>
					</bg-pane>

					<bg-pane id="querySidebar" min-size="286" ng-class="{active: showQuerySidebar}">
						<div ng-include="'templates/querySidebar.html'"></div>
					</bg-pane>
				</bg-splitter>

				<div id="mainMenu" class="transparent small inverted attached compact main ui menu"
					ng-include="'templates/mainMenu.html'"></div>

				<div id="copyright">
					&copy; 2014 David H. Bronke
				</div>
			</bg-pane>

			<bg-pane min-size="128" id="bottomPane">
				<div id="resultsArea" ng-include="'templates/resultsArea.html'"></div>
			</bg-pane>
		</bg-splitter>
	</body>
</html>
