<div class="top left attached ui labels">
	<div id="layers-button" class="green dropdown ui label">
		Layers
		<i class="dropdown icon"></i>

		<div id="layers-dropdown" class="small vertical menu">
			<a class="item" ng-repeat="layer in availableLayers"
					ng-click="eatEvent($event, layer.toggle)"
					ng-class="{active: layer.active, teal: layer.active}">

				<i class="color icon" ng-if="layer.htmlColor" ng-style="{'background-color': layer.htmlColor}"></i>
				{{ layer.display || layer.name }}
				<em ng-if="layer.queryID">(query # {{layer.queryID}})</em>

				<div class="squarish check ui label" ng-class="{teal: val.enabled}">
					<i class="icon" ng-class="{disabled: !layer.active, checkmark: layer.active}"></i>
				</div>

				<div class="squarish teal clickable ui label" ng-class="{disabled: !layer.hasExtent}"
						title="Zoom to fit" ng-click="eatEvent($event, layer.center)">
					<i class="left map icon"></i>
				</div>
			</a>
		</div>
	</div>
</div>

<openlayers center="geomMapCenter">
	<ol-layer ol-layer-properties="layer" ng-repeat="layer in availableLayers|filter:{active:true}"></ol-layer>
</openlayers>
