<div class="overlaid top left attached ui labels">
	<dropdown id="layers-button" class="green ui label">
		Layers
		<i class="dropdown icon"></i>

		<div id="layers-dropdown" class="small vertical menu">
			<a class="item" ng-repeat="layer in availableLayers"
					ng-click="eatEvent($event, layer.toggle)"
					ng-class="{active: layer.active, teal: layer.active}">

				<i class="color icon" ng-if="layer.htmlColor" ng-style="{'background-color': layer.htmlColor}"></i>
				{{ layer.display || layer.name }}
				<em ng-if="layer.queryID">(query # {{layer.queryID}})</em>

				<div class="squarish check ui label" ng-class="{teal: val.enabled}">
					<i class="icon" ng-class="{disabled: !layer.active, checkmark: layer.active}"></i>
				</div>

				<div class="squarish teal clickable ui label" ng-class="{disabled: !layer.hasExtent}"
						title="Zoom to fit" ng-click="eatEvent($event, layer.center)">
					<i class="left map icon"></i>
				</div>
			</a>
		</div>
	</dropdown>
</div>

<div id="selectedFeaturesPanel" class="overlaid tiny top right attached ui labels" ng-if="selectedFeatures.length > 0"
	scrollable="{ includePadding: true }">
	<div class="ui label">
		<div class="ui large header">Selected features</div>

		<div class="ui link list">
			<accordion class="hoverable item" ng-repeat="feature in selectedFeatures track by $index"
					ng-mouseenter="feature.__highlight()" ng-mouseleave="feature.__unhighlight()">
				<strong class="title">
					<i class="dropdown icon"></i>
					Row #{{ feature.rowNum }} from {{ feature.layerName }} &#x2026;
				</strong>

				<table class="content definition ui table">
					<tbody>
						<tr ng-repeat="(key, value) in feature.properties">
							<td>{{ key }}</td>
							<td>{{ value }}</td>
						</tr>
					</tbody>
				</table>
			</accordion>
		</div>
	</div>
</div>

<map-view center="geomMapCenter" layers="availableLayers" filter="{active:true}"></map-view>
