<div class="header item">
	<i class="icon" ng-class="status.socket.color + ' ' + status.icon"></i>

	<b class="hide on mobile">{{ status.socket.connecting ? 'Connecting...' : 'web-pgq' }}</b>

	<a class="fast fade animation red vertical animated ui button"
			tooltip="Click to force reconnect." tooltip-title="Connecting to web-pgq server."
			ng-show="status.socket.connecting" ng-click="connectSocket()">
		<div class="hidden content">Reconnect</div>
		<div class="visible content"><i class="asterisk loading icon"></i></div>
	</a>
</div>

<dropdown class="item" ng-class="{disabled: !status.socket.connected || query.running}">
	<span ng-if="!currentConnection" class="value placeholder">Connect to...</span>

	<span ng-cloak ng-if="currentConnection" class="value" ng-class="status.database.color"
			tooltip-title="{{ status.description }}" tooltip-html="{{ status.details }}">
		<i ng-show="!status.connected" class="attention icon"></i>
		{{ currentConnection }}
	</span>

	<i class="dropdown icon"></i>

	<div class="small menu">
		<div class="header">
			<i class="plug icon"></i>
			Connections
		</div>
		<div class="divider"></div>

		<div class="two button item" ng-repeat="(name, conn) in connections" ng-click="connectDB(name)"
				title="{{ conn.masked|json }}">
			<div class="right compact mini icon ui buttons">
				<div class="red ui button" title="Remove connection" ng-click="showRemoveConnection(name, $event)">
					<i class="remove icon"></i>
				</div>
				<div class="teal ui button" title="Edit connection" ng-click="editConnection(name, $event)">
					<i class="write icon"></i>
				</div>
			</div>
			{{ name }}
		</div>

		<div class="item">
			<div class="fluid green ui button" ng-click="addConnection()">
				<i class="add sign box icon"></i>
				Add new connection...
			</div>
		</div>
	</div>
</dropdown>
<div class="item" ng-show="status.database.connecting">
	<i class="asterisk loading icon"></i>
	<span class="hide on mobile">Connecting to {{ currentConnection }}...</span>
</div>

<div id="removeConnectionModal" class="ui basic modal">
	<div class="header">Remove connection</div>
	<div class="content">
		<div class="image">
			<i class="red trash icon"></i>
		</div>
		<div class="description">
			<p>Are you sure you want to <strong>permanently delete</strong> the connection
				{{ connectionToRemove|json }}?</p>
		</div>
	</div>
	<div class="actions">
		<div class="two fluid ui buttons">
			<div class="inverted red ui button" ng-click="removeConnection()">
				<i class="checkmark icon"></i>
				Yes, <strong>delete</strong> it.
			</div>
			<div class="inverted blue ui button">
				<i class="remove icon"></i>
				No, keep it!
			</div>
		</div>
	</div>
</div>

<div id="editConnectionDimmer" class="ui page dimmer">
	<div class="content">
		<div class="center">
			<div class="inverted small ui form segment" ng-class="{error: editConnectionError}">
				<h2>{{ editingConnection.isNew ? 'Add Connection' : 'Edit Connection ' + editingConnection.name|json }}</h2>
				<h2 ng-if="editingConnection.isNew">Add Connection</h2>
				<h2 ng-if="!editingConnection.isNew">Edit Connection {{ editingConnection.name|json }}</h2>

				<div class="inline field">
					<label>Connection Name</label>
					<input type="text" ng-model="editingConnection.newName" name="connectionName">
				</div>

				<div class="two fields">
					<div class="field">
						<label>Server</label>
						<input placeholder="hostname" type="text" ng-model="editingConnection.info.host">
					</div>
					<div class="field">
						<label>&nbsp;</label>
						<input placeholder="port" type="text" autocomplete="off" ng-model="editingConnection.info.port">
					</div>
				</div>

				<div class="two fields">
					<div class="field">
						<label>Database Name</label>
						<input type="text" ng-model="editingConnection.info.database">
					</div>
					<div class="inline field">
						<div class="toggle ui checkbox">
							<input type="checkbox" ng-model="editingConnection.info.ssl">
							<label for="terms">Use SSL</label>
						</div>
					</div>
				</div>

				<div class="two fields">
					<div class="field">
						<label>Username</label>
						<div class="ui left labeled icon input">
							<input type="text" ng-model="editingConnection.info.user">
							<i class="user icon"></i>
						</div>
					</div>
					<div class="field">
						<label>Password</label>
						<input type="password" autocomplete="off" ng-model="editingConnection.info.password">
					</div>
				</div>

				<div class="actions">
					<div class="negative ui button" ng-click="hideEditConnection()">Cancel</div>
					<div class="positive icon ui button" ng-show="editingConnection.isNew"
							ng-click="saveConnection()" ng-class="{disabled: !editingConnection.isValid}">
						Add Connection
						<i class="add icon"></i>
					</div>
					<div class="positive icon ui button" ng-show="!editingConnection.isNew"
							ng-click="saveConnection()" ng-class="{disabled: !editingConnection.isValid}">
						Save Connection
						<i class="save icon"></i>
					</div>
				</div>

				<div class="ui error message"></div>
				<div class="ui error message" ng-if="editConnectionError">{{ editConnectionError }}</div>
			</div>
		</div>
	</div>
</div>

<div class="borderless right fitted item hide on mobile">
	<div class="horizontally fitted borderless item compact ui buttons">
		<a class="fast fade animation red vertical animated ui button" tooltip="Cancel query"
				ng-if="query.running" ng-click="cancelQuery()">
			<div class="hidden content">Cancel</div>
			<div class="visible content"><i class="spinner loading icon"></i></div>
		</a>
	</div>

	<div class="item compact ui buttons">
		<a class="teal labeled icon ui button" ng-click="runQuery()"
				ng-class="{disabled: !status.connected || query.running}"
				tooltip-title="Run query, then commit." tooltip-html="Shortcut: <b>F5</b>">
			<i class="play icon"></i>
			Run
		</a>
		<a class="teal labeled icon ui button" ng-click="testQuery()"
				ng-class="{disabled: !status.connected || query.running}"
				tooltip-title="Run query, then roll back." tooltip-html="Shortcut: <b>Shift+F5</b>">
			<i class="lab icon"></i>
			Test
		</a>
	</div>

	<div class="horizontally fitted borderless item compact ui buttons">
		<a class="orange labeled icon ui button" ng-click="explainQuery()"
				ng-class="{disabled: !status.connected || query.running}"
				tooltip-title="Display query's execution plan." tooltip-html="Shortcut: <b>F7</b>">
			<i class="question icon"></i>
			Explain
		</a>
		<a class="orange labeled icon ui button" ng-click="explainQuery(true)"
				ng-class="{disabled: !status.connected || query.running}"
				tooltip-title="Test query, and display the execution plan with additional runtime statistics."
				tooltip-html="Shortcut: <b>Shift+F7</b>">
			<i class="treatment icon"></i>
			Analyze
		</a>
	</div>

	<div class="borderless item compact ui buttons">
		<dropdown class="orange icon ui button">
			<i class="settings icon"></i>

			<div class="menu">
				<div class="header">
					<i class="settings icon"></i>
					EXPLAIN settings
				</div>
				<div class="divider"></div>

				<a class="item" ng-repeat="(key, val) in explainOptions" ng-click="val.enabled = !val.enabled"
						ng-class="{active: val.enabled, teal: val.enabled}" tooltip="{{ val.description }}">
					<i class="left icon" ng-class="val.icon"></i>
					{{ key }}
					<div class="squarish right ui label" ng-class="{teal: val.enabled}">
						<i class="icon" ng-class="{disabled: !val.enabled, checkmark: val.enabled}"></i>
					</div>
				</a>
			</div>
		</dropdown>
	</div>
</div>

<div class="borderless right fitted item show on mobile">
	<div class="horizontally fitted borderless item compact ui buttons">
		<a class="fast fade animation red vertical animated ui button" tooltip="Cancel query"
				ng-if="query.running" ng-click="cancelQuery()">
			<div class="hidden content">Cancel</div>
			<div class="visible content"><i class="spinner loading icon"></i></div>
		</a>
	</div>

	<div class="item compact ui buttons">
		<a class="teal icon vertical animated ui button" ng-click="runQuery()"
				ng-class="{disabled: !status.connected || query.running}"
				tooltip-title="Run query, then commit." tooltip-html="Shortcut: <b>F5</b>">
			<div class="hidden content">Run</div>
			<div class="visible content"><i class="play icon"></i></div>
		</a>
		<a class="teal icon vertical animated ui button" ng-click="testQuery()"
				ng-class="{disabled: !status.connected || query.running}"
				tooltip-title="Run query, then roll back." tooltip-html="Shortcut: <b>Shift+F5</b>">
			<div class="hidden content">Test</div>
			<div class="visible content"><i class="lab icon"></i></div>
		</a>
	</div>

	<div class="horizontally fitted borderless item compact ui buttons">
		<a class="orange vertical animated ui button" ng-click="explainQuery()"
				ng-class="{disabled: !status.connected || query.running}"
				tooltip-title="Display query's execution plan." tooltip-html="Shortcut: <b>F7</b>">
			<div class="hidden content">Explain</div>
			<div class="visible content"><i class="question icon"></i></div>
		</a>
		<a class="orange vertical animated ui button" ng-click="explainQuery(true)"
				ng-class="{disabled: !status.connected || query.running}"
				tooltip-title="Test query, and display the execution plan with additional runtime statistics."
				tooltip-html="Shortcut: <b>Shift+F7</b>">
			<div class="hidden content">Analyze</div>
			<div class="visible content"><i class="treatment icon"></i></div>
		</a>
	</div>

	<div class="borderless item compact ui buttons">
		<a id="settings-button" class="orange icon ui button">
			<i class="settings icon"></i>
		</a>
		<div id="settings-popup" class="popup vertical ui menu">
			<div class="header item">EXPLAIN settings</div>
			<a class="item" ng-repeat="(key, val) in explainOptions" ng-click="val.enabled = !val.enabled"
					ng-class="{active: val.enabled, teal: val.enabled}" tooltip="{{ val.description }}">
				<i class="left icon" ng-class="val.icon"></i>
				{{ key }}
				<div class="squarish ui label" ng-class="{teal: val.enabled}">
					<i class="icon" ng-class="{disabled: !val.enabled, checkmark: val.enabled}"></i>
				</div>
			</a>
		</div>
	</div>
</div>
