<div class="compact tiny 3 attached ui buttons">
	<div class="orange labeled icon ui button" ng-click="newFile()">
		<i class="file icon"></i>
		New
	</div>

	<a save-file="query.fileName" ng-model="query.text"></a>

	<a open-file="fileLoaded(file, content)"></a>
</div>

<div id="paramsSection" class="secondary attached inverted ui segment"
		scrollable="{ suppressScrollX: true, includePadding: true }">
	<table id="paramsGrid">
		<caption>Parameters:</caption>
		<thead>
			<tr>
				<th>#</th>
				<th colspan="2">Value / Type</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-cloak ng-repeat="param in query.params track by $index">
				<td class="right aligned"><code>${{ $index + 1 }}</code></td>
				<td class="right aligned">
					<div class="fluid mini ui input"
							ng-class="{right: param.type != 'null', labeled: param.type != 'null'}">

						<input type="text" placeholder="Value" id="queryParam_{{ $index + 1 }}"
							class="fade" ng-model="param.value" ng-if="param.type != 'null'">

						<dropdown class="small upward ui label" ng-class="{fluid: param.type == 'null'}"
								dropdown-action="setQueryParamType($index, value, dropdown)">
							{{ displayQueryParamType(param.type) }}
							<i class="dropdown icon"></i>
							<div class="menu">
								<div class="item" data-value="text">Text</div>
								<div class="item" data-value="integer">Integer</div>
								<div class="item" data-value="null">NULL</div>
							</div>
						</dropdown>
					</div>
				</td>
				<td>
					<div class="compact mini red icon ui button" ng-click="removeQueryParam($index)"
							tooltip="Remove query parameter ${{ $index + 1 }}.">
						<i class="close ui icon"></i>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="bottom attached mini teal labeled icon ui button" ng-click="addQueryParam()">
		<i class="add icon"></i>
		Add parameter
	</div>

	<div class="launch button wrapper">
		<div class="small black icon launch ui button" ng-click="showQuerySidebar = !showQuerySidebar">
			<!--i class="menu icon"></i-->
			<i class="list layout icon"></i>
		</div>
	</div>
</div>
