<div class="transparent top attached small tabular ui menu">
	<a class="item" ng-class="{active: (resultsTab == 'Results')}" ng-click="showResults()">
		<i class="table icon"></i>
		Results
	</a>
	<a class="item" ng-class="{active: (resultsTab == 'Geometry')}" ng-click="showGeometry()">
		<i class="map icon" ng-class="{loading: geometryLoading}"></i>
		Geometry
	</a>
	<a class="item" ng-class="{active: (resultsTab == 'Query Plan')}" ng-click="showPlan()">
		<i class="sitemap icon"></i>
		Query Plan
	</a>
	<a class="item" ng-class="{active: (resultsTab == 'Messages')}" ng-click="showMessages()">
		<i class="browser icon"></i>
		Messages
	</a>
</div>

<div id="resultsTabs" class="dimmable attached ui segment">

	<div class="ui dimmer" ng-class="{active: (resultsTab == 'Query Plan')}" id="plan-diagram-dimmer"
		ng-include="'templates/tabs/QueryPlan.html'"></div>

	<div id="geometry-map" ng-class="{visible: resultsTab == 'Geometry'}"
		ng-include="'templates/tabs/Geometry.html'"></div>

	<div class="ui dimmer" ng-class="{active: (resultsTab == 'Messages')}" id="messages-dimmer"
		scrollable="{ suppressScrollX: false, includePadding: true }"
		ng-include="'templates/tabs/Messages.html'"></div>

	<div id="resultsContainer"
		scrollable="{ includePadding: false }"
		ng-include="'templates/tabs/Results.html'"></div>

	<div class="hiding bottom right attached ui labels" ng-class="{black: resultsTab == 'Messages'}">
		<div class="small compact ui label" ng-if="resultSets && resultSets.status">
			{{ resultSets.status|capitalizeWords }}
		</div>
		<div class="small compact ui label">
			Statements <div class="detail">{{ resultSets.length || 0 }}</div>
		</div>
		<div class="small compact ui label">
			Total Rows <div class="detail">{{ resultSets.totalRows || 0 }}</div>
		</div>
		<div class="small compact ui label" ng-if="resultSets && resultSets.totalRowsAffected">
			Total Affected <div class="detail">{{ resultSets.totalRowsAffected }}</div>
		</div>
		<div class="small compact ui label" ng-if="resultSets && resultSets.totalTimeMS">
			<div class="left detail">{{ resultSets.totalTimeMS }}</div> ms
		</div>
	</div>
</div>
